.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: color 3s;
}

.feynman__link:hover {
  color: #4cbfcc;
  transition: color .5s;
  opacity: .6;
}
