.kaufman {
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  z-index: 1;
  /* убрала фон на нижний слой */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
