@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background-animation {
  animation: rotation 20s infinite normal;
}
/* Создаём независимый БЭМ-блок background-animation и стилизуем его,используем микс*/
