.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  background-size: cover;
  color: #f2f2f2;
}
