.header__title {
  box-sizing: border-box;
  max-width: 730px;
  z-index: 2;
  margin: 0;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

/*убрала margin, использовала для отступа padding */
