@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica", "Arial", sans-sefif;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
  /*чтобы при анимации не было переполнения блока*/
}

.logo {
  height: 32px;
  width: 228px;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  max-width: 730px;
  z-index: 2;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  z-index: 2;
  margin: 0;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: color 3s;
}

.header__link:hover {
  color: #4cbfcc;
  transition: color 0.5s;
  opacity: 0.6;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.background-animated {
  animation: rotate 20s infinite normal;
}

/* TECHNIQUES */
.techniques {
  /* padding: 100px 0; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px 100px;
  justify-content: flex-start;
  max-width: 920px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards__item {
  width: 240px;
  margin: 0;
  text-align: center;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
  display: inline-block;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  padding-bottom: 16px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* VIDEO */
.video {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  z-index: 3;
  margin-bottom: -60px;
}

.video__frames {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

/* .video__frame {
} */

/* DESCRIRTION */

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin: 0;
}
.description__theme-grey{
  padding-top: 160px;
  padding-bottom: 0;
  background-color: #f2f2f2;
}
.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  color: #2f80ed;
  max-width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph_space-between {
  margin: 30px 0;
}

/* DIGITS  */

.digits {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.section-title {
  padding-bottom: 20px;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  z-index: 3;
  /*при анимации kaufman__triangle треугольник западал на заголовок, на дргуие элементы это не влияет*/
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.table__cell {
  align-items: flex-start;
  width: 250px;
  max-height: 300px;
  justify-content: space-between;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  line-height: 1.15em;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0;
}

.table__text:last-of-type {
  padding: 0;
}

/* FEYNMAN */

.feynman {
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__title {
  padding-top: 100px;
  padding-bottom: 70px;
  max-width: 648px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: color 3s;
}

.feynman__link:hover {
  color: #4cbfcc;
  transition: color 0.5s;
  opacity: 0.6;
}

/* KHAN */

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 50px;
}

.khan__quote {
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.khan__quote-author-subline {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 68px;
}

.khan__book-pic {
  display: inline-block;
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  /*позиция картинки*/
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: color 3s;
}

.khan__buy-link:hover {
  color: #4cbfcc;
  transition: color 0.5s;
  opacity: 0.6;
}

/* -------KAUFMAN----- */
.kaufman {
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  z-index: 1;
  /* убрала фон на нижний слой */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.kaufman_theme_dark {
  background-color: #1f1f1f;
  background-size: cover;
  color: #f2f2f2;
}

.kaufman__triangle {
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  z-index: 2;
  /* убрала треугол. на первый слой */
}

.table__cell_theme_dark {
  padding-top: 80px;
  max-width: 200px;
  z-index: 3;
  /* подняла элементы table на главный слой */
}

/* RESOURSES */
.resources {
  padding: 100px 0 217px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  max-width: 1100px;
  margin: 0 auto;
}

.resources__link {
  padding-top: 80px;
  display: inline-block;
  background-color: #ffffff;
}

.resources__link:hover {
  /* border-bottom: #d3d3d3 2px solid; нижнее подчеркивание ссылок */
  transition: background-color 0.5s;
  opacity: 0.6;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  min-height: 350px;
  box-sizing: border-box;
}

.footer_theme_dark {
  background-color: #1f1f1f;
  background-size: cover;
  color: #f2f2f2;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_social {
  margin-bottom: 16px;
}

.footer__column_content_info {
  margin-bottom: 16px;
}

.footer__author {
  align-items: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-heading {
  text-align: center;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
}